<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Time Finder</title>

    <link rel="stylesheet" href="../styles/finder.css">
</head>
<body>
    {% block content %}
    <div class="dropdown position-absolute top-0 start-50 translate-middle-x mt-5">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for value in values %}
                <li><a class="dropdown-item" href="#">{{ value }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- <table class="table table-dark table-striped center">
        <thead>
            <tr>
                <th colspan="2">YOUR TIMETABLE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">0</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
        </tbody>
    </table> -->
    
    {% endblock content %}
    

</body>
</html>